ul.contacts-az {
  margin-left: 0;
  padding-left: 0;
  font-size: 12px;
  border: 1px solid black;
}
ul.contacts-az li {
  display: inline;
	padding: 0 2px;
}
ul.contacts-az li.active {
  background-color: #ABABAB;
}
ul.contacts-az li a {
  text-decoration: none;
  padding: 2px;
}
ul.contacts-az li a:hover {
  background-color: #ABABAB;
}

table.contactlist {
  width: 100%;
}